<div class="container">
    <div class="logo-container">
        <a href="/">
            <img src="../../../assets/uae_logo.png" alt="Logo 1" class="logo">
        </a>
        <h1 class="main-title">Gestion du Cycle Doctorat</h1>
    </div>
    <hr>
    <h2>Inscription en thèse :</h2>
    <p>
        Le Président de l'Université informe les titulaires de diplômes de master ou équivalent avec<span style="color: red;"> mention Assez bien ou plus</span> - y compris les candidats étrangers - qu'ils peuvent déposer leur candidature en ligne pour une inscription en thèse au titre de l'année Universitaire 2022-2023 , en cliquant sur le bouton ci-dessous :</p>

        <div class="button-container">
            <a class="custom-button" *ngIf="!studentService.isAuthenticated()" href="/application">Candidature en ligne</a>
            <a class="custom-button" *ngIf="studentService.isAuthenticated()" href="/">Déjà connecté</a>
            <button *ngIf="studentService.isAuthenticated()" class="button btn-danger" (click)="logout_s()">Logout</button>
        </div>
</div>