<div class="container">
    <div class="logo-container">
        <a href="/">
            <img src="../../../assets/uae_logo.png" alt="Logo 1" class="logo">
        </a>
        <h1 class="main-title">Gestion du Cycle Doctorat</h1>
    </div>
    <hr>

    <h2>Appel aux sujets : </h2>

    <p>Le Président de l'Université informe les enseignants-chercheurs qu'ils peuvent proposer en ligne des sujets de thèse pour les nouvelles inscriptions en doctorat au titre de l'année universitaire 2022-2023, et ce du 15 septembre au 02 octobre 2022.
        Un email d'invitation a été adressé à tous les Professeurs de l'Enseignement Supérieur et les Professeurs Habilités de l'université (via l'email institutionnel), expliquant les procédures à suivre.
        
        En cas de non réception de cet email, veuiilez vérifier votre dossier spam. Le cas échéant, veuillez adresser un email à l'adresse <a href="mailto:gcd@uae.ac.ma">gcd@uae.ac.ma</a> pour solliciter une invitation.</p>
        <div class="button-container">
            <a class="custom-button" *ngIf="!teacherService.isAuthenticated()" href="/login">Se connecter</a>
            <a class="custom-button" *ngIf="teacherService.isAuthenticated()" href="/subjects">Déja connecté</a>
        </div>
</div>