<div class="container">
    <div class="logo-container">
        <a href="/">
            <img src="../../../assets/gcdoc_logo.png" alt="Logo 1" class="logo">
        </a>
        <h1 class="main-title">Gestion du Cycle Doctorat</h1>
        <img src="../../../assets/uae_logo.png" alt="Logo 2" class="logo">
    </div>
    <hr>
    <div class="login-container">
        <div class="login-box">
            <h2>Register</h2>
            <form (ngSubmit)="registerUser()">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" [(ngModel)]="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <label for="cpassword">Confirm password:</label>
                    <input type="password" id="cpassword" name="cpassword" class="form-control" placeholder="Confirm your password" [(ngModel)]="cpassword">
                </div>
                <a href="/application"><small>You already have an account</small></a><br>
                <button class="register-button" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
