
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-bottom: 400px;
}

.login-box h2 {
    color: #6499D9;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-button {
    background-color: #629de4;
    color: white;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-button:hover {
    background-color: #325E90;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 100px;
    margin: 0 20px;
    /* Add styles for logo images */
}
.main-title {
    font-size: 30px;
    font-weight: bold;
    color: #6499D9;
    text-align: center;
    margin: 20px 0;
}
.container {
    background-color: #f0f5ff; /* Light blue background */
    min-height: 100vh;
    width: 100%;
}
