<div class="container">
    <h2 class="section-title">Subject Management</h2>
    <a class="create-button" routerLink="/subjects/create">Create New Subject</a>
    <br>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <td>{{ subject.id }}</td>
          <td>{{ subject.name }}</td>
          <td>{{ subject.description }}</td>
          <td>
            <a class="button" routerLink="/subjects/update/{{ subject.id }}">Edit</a>
            <button class="button" (click)="deleteSubject(subject.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  