.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    max-width: 100px;
    margin: 0 20px;
    /* Add styles for logo images */
}
.main-title {
    font-size: 30px;
    font-weight: bold;
    color: #005faa; /* Darker blue main title */
    text-align: center;
    margin: auto; 
    padding-right: 150px;
}
h2 {
    text-align: center;
}
p {
    padding-left: 60px;
    padding-right: 60px;
}
ul {
    padding-left: 60px;
    padding-right: 60px; 
}
.container {
    background-color: #f0f5ff; /* Light blue background */
    min-height: 100vh;
    width: 100%;
}
