<div class="container">
    <div class="logo-container">
        <a href="/">
            <img src="../../../assets/uae_logo.png" alt="Logo 1" class="logo">
        </a>
        <h1 class="main-title">Gestion du Cycle Doctorat</h1>
    </div>
    <hr>
    <h2>Calendrier :</h2>
    <p>Le Président de l'Université Abdelmalek Essaâdi informe les enseignants-chercheurs et les étudiants que le calendrier des inscriptions en doctorat au titre de l'année universitaire 2022-2023 est fixé comme suit :</p>
    <ul>
        <li>Du 15 septembre au 02 octobre 2022 - Proposition des sujets ou axes par les enseignants chercheurs</li>
        <li>Du 03 octobre au 17 octobre 2022 - Validation des nouveaux sujets ou axes</li>
        <li>Du 20 octobre au 05 novembre 2022 - Choix des sujets ou axes par les candidats</li>
        <li>Du 12 novembre au 10 décembre 2022 - Convocation des candidats présélectionnés par les établissements</li>
        <li>Du 12 décembre au 13 décembre 2022 - Affichage des résultats</li>
        <li>Du 14 décembre au 22 décembre 2022 - Inscription Administrative</li>
    </ul>
</div>