<div class="container">
  <div class="update-container">
    <h2 class="section-title">Update Subject</h2>
    <hr>
    <br>
    <form (submit)="UpdateSubject()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="subject.name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="subject.description" name="description" class="form-control"></textarea>
      </div>
      <button class="update-button" type="submit">Update</button>
    </form>
  </div>
</div>
